name: Deploy1

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'corretto'
          java-version: '17'

      - name: Install Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: '3.8.2'

      - name: Build Project
        run: |
          mvn -B -DskipTests package

      - name: Copy Artifact
        run: |
          cp target/*.jar docker/app.jar

      - name: View Files
        run: |
          ls docker/

      - name: Build Docker
        run: |
          cd docker
          docker build . -t leogloriainfnet/cervejaria-devops-2025